.container {
  max-width: 750px;
  max-height: 300px;
}
.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}
.search-form{
  display: flex;
  width: 30%;
  justify-content: space-between;
}