@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
  background: #191d1f;
  background: #1e1f20;
  color: #4e57a0;
  color: #4351be;
  font-family: 'Roboto', sans-serif;
}

.tooltip {
  border-radius: 0.25rem;
  background: #131518;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
